.row div {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    padding: 10px;
    float: left;
}

.row {
    clear: both;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}